.app {
  display: flex;
}

.main-content {
  margin-left: 200px; /* Adjust based on Sidebar width */
  width: calc(100% - 200px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
